<h2>List of rating</h2>

<p>
    Number of ratings: <%= @ratings.count %>
</p>


<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>User</th>
  </tr>
  </thead>

  <tbody>
  <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating %></td>
        <td><%= link_to  "#{rating.user.username}", rating.user %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to  "new", new_rating_path, class: "btn btn-primary" %>

