<h2>List of rating</h2>

<p>
    Number of ratings: <%= @ratings.count %>
</p>

<ul>
    <% @ratings.each do |rating| %>
        <li> <%= rating %> <%= link_to  "delete", rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
    <% end %>
</ul>

<%= link_to  "new", new_rating_path %>

